@import 'variables';

body {
  min-width: 320px;
  line-height: 23px;
  font-weight: 400;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  font-family: 'Roboto', 'Arial', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    max-width: $desktop-max-width;
    padding: 0 98px;
  }
}
