$background-color: #ffffff;
$second-background-color: #f6f7ff;

$font-black-color: #1f1e25;
$font-white-color: #f6f7ff;
$font-grey-color: #707c87;
$font-grey-color--light: #394959;
$font-grey-color--lighten: #2b3c4f;

$blue-color: #2c36f2;

$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1023px;
$desktop-width: 1024px;
$desktop-max-width: 1366px;
