.close-button {
  width: 14px;
  height: 14px;
  background-color: transparent;
  background-image: url('../../img/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  @include hover;
  @include active;
}

@media (min-width: $tablet-width) {
  .close-button {
    width: 18px;
    height: 18px;
    background-position: center;
  }

  .nav--close {
    display: none;
  }
}
