.close-button {
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url('../../img/close.svg');
  background-repeat: no-repeat;
  background-position: right center;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .nav--close {
    display: none;
  }
}
